/** CSS STYLE **/

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --max-content-width: 1110px;
  --main-font-size: 16px;
  --neucha-font: "Neucha", sans-serif;
  --open-sans-font: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--open-sans-font);
  text-align: center;
  font-size: var(--main-font-size);
  line-height: 1.6em;
  color: var(--dark);
  font-weight: 400;
}

section {
  display: block;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 100px 0;
}

header, #ikea-effect {
  background-color: var(--light);
}

header .container {
  align-items: flex-start;
}

.bg {
  position: relative;
}

.bg::before {
  content: '';
  position: absolute;
  background: url("../img/background.png") no-repeat;
  background-size: cover;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: var(--neucha-font);
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
  text-align: left;
  z-index: 1;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
  margin-bottom: 16px;
  color: var(--main);
}

h4 {
  font-size: 14px;
}

.main-img {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -270px;
}

.main-color {
  color: var(--main);
}

.white {
  color: var(--white);
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
  text-align: left;
}


.second-column {
  break-before: column;
}

header .container {
  justify-content: space-between;
  min-height: 900px;
  height: 100vh;
}

.header-button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  background: #FE8A02;
  padding: 12px 24px;
  margin-top: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

iframe {
  display: block;
  border: 0;
}

.container-video {
  height: 805px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  width: 919px;
  height: 569px;
}

.menu {
  background: var(--main-dark);
  padding-top: 100px;
}

.container-menu {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px 30px;
}

.card {
  width: 302px;
  height: 275px;
  padding: 24px;
  background: var(--light);
  text-align: left;
}

.higher-card {
  height: 302px;
}

.card-header {
  display: inline-block;
  padding: 0;
  width: 350px;
  height: 323px;
}

.card-header h2 {
  font-size: 52px;
}

.card-number {
  margin-bottom: 40px;
  font-family: var(--neucha-font);
  font-size: 64px;
  line-height: 1em;
}

.small-header {
  font-family: var(--neucha-font);
  font-size: 24px;
  color: var(--translucent-dark);
}

.effect-description {
  margin-top: 30px;
  font-size: 34px;
  line-height: 1.2;
  font-family: var(--neucha-font);
}

.header-with-brown-bg {
  /*box-sizing: content-box;*/
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;
  text-align: left;
  background-color: var(--brown);


  /*line-height: 1;*/
}

.header-with-brown-bg h4 {
  font-family: var(--open-sans-font);
  line-height: 1.2;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}

.top-block-effect {
  width: 100%;
}

.img-effect-block {
  vertical-align: middle;
}
